<div class="mainCont">
    <div class="topBar">
        <!-- Add Icon -->
        <div class="addIcon" (click)="setNav('Home')">
            <img class="topIcon" src="assets/TikTok/Icons/return.png" alt="">
        </div>
        <!-- Search Icon -->
        <div class="searchIcon">
            <img class="searchIconImg" src="assets/TikTok/Icons/search.png" alt="">
            <input class="searchInput" type="text" placeholder="Funny Cats">
        </div>
        <!-- Info Icon -->
        <button class="searchBtn">
            Search
        </button>
    </div>

    <div class="midCont">
        <p class="textNorm">{{desc}}</p>
    </div>

</div>