<div class="mainCont">
    <div class="topCont">
        <span class="inb">Inbox</span>
        <img class="topIcon" src="assets/TikTok/Icons/edit.png" alt="">
    </div>

    <div class="createCont">
        <div class="userIcon">
            <span class="white uIcon">E</span>
            <button class="userPlus">+</button>
            <span class="createText">Create</span>
        </div>
    </div>

    <div class="activityCont">
        <p style="font-weight: 700;">New Activities</p>
        <p>There is no new Activities right now!</p>
    </div>

    <div class="messagesCont">
        <p style="font-weight: 700;">Messages</p>
        <div class="friendsCont">
            <img class="filterWhite friendsIcon" src="assets/TikTok/Icons/friends.png" alt="">
        </div>
        <p>Messages from new Follower will be Shown here </p>
    </div>
</div>