<div class="mainCont">
    <div class="topBar">
        <!-- Add Icon -->
        <div class="addIcon">
            <img class="topIcon filterWhite" src="assets/TikTok/Icons/add.png" alt="">
        </div>
        <!-- Search Icon -->
        <div class="searchIcon">
            <img class="searchIconImg filterWhite" src="assets/TikTok/Icons/search.png" alt="">
            <input class="searchInput" type="text" placeholder="Find friends">
        </div>
        <!-- Info Icon -->
        <div class="infoIcon">
            <img class="topIcon filterWhite" src="assets/TikTok/Icons/info.png" alt="">
        </div>
    </div>

    <div class="midCont">
        <div class="h1Cont">
            <h1 class="white textBig">TikTok is more fun with friends</h1>
        </div>
        <p class="white textNorm">You don't have any friends yet.</p>
        <div class="btnCont">
                <button class="connectBtn">Connect with Facebook friends</button>
        </div>
    </div>

    <span class="tLogo">J</span>
</div>