<div class="mainCont">

    <div class="userCont">
        <div class="userIcon">
            <span class="white uIcon">E</span>
            <button class="userPlus">+</button>
            <span class="userText">{{currentUser}}</span>
        </div>
    </div>

    <div class="userInfo">
        <div class="infoCont">
            <span class="infoCount">0</span>
            <span class="infoText">Following</span>
        </div>

        <div class="infoCont">
            <span class="infoText">|</span>
        </div>

        <div class="infoCont">
            <span class="infoCount">0</span>
            <span class="infoText">Followers</span>
        </div>

        <div class="infoCont">
            <span class="infoText">|</span>
        </div>

        <div class="infoCont">
            <span class="infoCount">0</span>
            <span class="infoText">Like</span>
        </div>
    </div>

    <div class="editCont">
        <button class="editBtn">Edit profile</button>
        <p>Tap to add bio</p>
    </div>

        <span class="tLogo">TikTok</span>

</div>